:host {
  display: block;
  background-color: white;
  padding: 1rem;
  width: 500px;
}

h1 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

.footer {
  display: flex;
  gap: 1rem;
  width: 100%;

  button {
    width: 100%;
    padding: 0.5rem 1rem;
  }
}
